/* Narly OT Bold

font-family: narly, sans-serif;

font-weight: 700;

font-style: normal;


Narly OT Regular

font-family: narly, sans-serif;

font-weight: 400;

font-style: normal;


Narly OT Inline

font-family: narly-inline, sans-serif;

font-weight: 700;

font-style: normal;


Narly OT Outline

font-family: narly-outline, sans-serif;

font-weight: 400;

font-style: normal; */

/* Platelet OT Heavy

font-family: platelet, sans-serif;

font-weight: 700;

font-style: normal;


Platelet OT Regular

font-family: platelet, sans-serif;

font-weight: 400;

font-style: normal; */

.App {
  font-family: platelet,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 2rem;

  text-align: center;
  cursor: url(./assets/cursor_arrow.png) 20 20, auto;
  height: 100vh;
  width: 100vw;
  position: fixed;

  /* background-color: rgb(233, 233, 233); */
}

h1{

  font-size: 5rem;

  font-family: narly-outline, sans-serif;

  font-weight: 400;

  font-style: normal;   

  letter-spacing: 0.3rem;
}

.intro-title-div{
  position: absolute;
  width: 100%;
  top: 5%;
  z-index: -10;
  
}

.intro-title{
  /* position: absolute; */
  margin: 2% auto;
 
  /* text-align: center; */ 
}

#h1-1{
  font-size: 5rem;

  font-family: narly-inline, sans-serif;

  font-weight: 400;

  font-style: normal;   

  color: rgb(67, 175, 5);

}

#h1-2{
  font-size: 5.1rem;

  font-family: narly, sans-serif;

  font-weight: 700;

  font-style: normal;   

  color: rgb(207, 124, 15);
  text-shadow: 3px 3px #b66203;

}

#h1-3{
  font-size: 5rem;

  font-family: narly, sans-serif;

  font-weight: 400;

  font-style: normal;   

  color: rgb(255, 240, 35);

 
  
}


#h1-4{
  font-size: 5.3rem;

  font-family: narly, sans-serif;

  font-weight: 700;

  font-style: normal;   

  color: rgb(167, 167, 167);

  
  
}

.clickable{
  cursor: url(./assets/cursor_pointer.png) 20 20, pointer;
}

button{
  font-family: platelet,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  border: none;

  background: url('./assets/button.png');
  background-size: 80px;
  width: 80px;
  padding: 15px;
  margin: 15px;
  margin-top: 0px;
  color:black;
  text-align: center;
  display: block;
}

button:hover{
  background: url('./assets/button_hover.png');
  background-size: 80px;
  color: white;
}

button:disabled{
  background: url('./assets/button_disabled.png');
  background-size: 80px;
  color: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.intropage{
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}

#intropage-left{
  
  height: 25vh;
  width: 100vw;
}

#intropage-right{
  height: 10vh;
}

#intropage-right-btn{

  font-family: narly, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.intropage-enter{
  position: absolute;
  top: 20vh;
  width: 100%;
  margin: 0% auto;
  font-size: 2.5rem;
  /* position: fixed;
  margin-left: 10%;
  font-size: 3rem;
  font-kerning: 0.5rem; */
}


#enter-1{


  font-family: narly-inline, sans-serif;

  font-weight: 400;

  font-style: normal;   

  color: rgb(67, 175, 5);

}

#enter-2{


  font-family: narly, sans-serif;

  font-weight: 700;

  font-style: normal;   

  color: rgb(207, 124, 15);
  text-shadow: 3px 3px #b66203;

}

#enter-3{
 

  font-family: narly, sans-serif;

  font-weight: 400;

  font-style: normal;   

  color: rgb(255, 240, 35);

 
  
}


#enter-4{
 

  font-family: narly, sans-serif;

  font-weight: 700;

  font-style: normal;   

  color: rgb(167, 167, 167);

  
  
}

#enter-5{



  font-family: narly, sans-serif;

  font-weight: 700;

  font-style: normal;   

  /* color: rgb(207, 124, 15); */
  text-shadow: 3px 3px #b66203;

  color: rgb(74, 192, 5);


}

#enter-5:hover{
  color: white;
}

#enter-3:hover{
  color: white;
}

.intropage-mice{
  height: 15vh;

  display: grid;
  grid-template-columns: [first] 35% [line2] auto [line3] 35% [end];
  grid-template-rows:[begin] 30% [row1-start] 70% [row1-end];

}

.intropage-mouse{
  align-self: end;
  grid-row-start: row1-start;
  grid-row-end: row1-end;

}

#intropage-mouse-1{
  /* height: 10%; */
  /* position: absolute;
  left: 15%;
  bottom: 20%; */
  
  grid-column-start: line2;
  grid-column-end: line3;

  justify-self: start;

}

#intropage-mouse-2{
  /* height: 10%; */
  /* position: absolute;
  left: 30%;
  bottom: 20%; */
  
  grid-column-start: line2;
  grid-column-end: line3;
  justify-self: end;

}

/* .btn-deactive{
  font-size: 2rem;
} */

.btn-active{
  width: 50px;
  font-size: 3rem;
}

#gamepage{
  padding-top: 10%;
  display: grid;
  grid-template-columns: [first] 15% [line2] auto [line3] 15% [end];
  grid-template-rows: [row1-start] 10% [row1-end] 5% [third-line] 85% [last-line];
}

#gamepage-left{
  /* grid-column-start: first;
  grid-column-end: line2;
  justify-self: end; */
  grid-column-start: line2;
  grid-column-end: line3;

  grid-row-start: row1-start;
  grid-row-end: row1-end;

  align-items: top;
  justify-self: center;

}



#gamepage-right{
  grid-column-start: line3;
  grid-column-end: end;

  justify-self: start;

}


#gamepage-middle{
  grid-column-start: line2;
  grid-column-end: line3;

  justify-self: center;

}

#chatboard{
  display: grid;
  grid-template-rows:[first] 5% [line2] 15% [linerule] auto [line3] 5% [end];
  grid-template-columns: [first] 30% [line2] auto [line3] 30% [end];
   
}

#chatboard-rule{
  width: 70%;
  height: 200px;

  text-align: left;

  grid-row-start: linerule;
  grid-row-end: line3;

  grid-column-start: line2;
  grid-column-end: line3;
  justify-self: center;

  color: white;
  
}
#chatboard-bubble{
  grid-row-start: line2;
  grid-row-end: line3;

  grid-column-start: line2;
  grid-column-end: line3;
  justify-self: center;

}

#chatboard-left{


  grid-row-start: line2;
  grid-row-end: line3;

  grid-column-start: first;
  grid-column-end: line2;
  justify-self: end;
  align-self: center;

}

#chatboard-left > button{
  background: url('./assets/button_l.png');
  background-repeat: no-repeat;
  height: 65px;
  width: 60px;
  margin: 0;
  padding: 0;

}

#chatboard-left > button:hover{
  background: url('./assets/button_hover_l.png');
  background-repeat: no-repeat;
}

#chatboard-left > button:disabled{
  background: url('./assets/button_disabled_l.png');
  background-repeat: no-repeat;
}

#chatboard-right{


  grid-row-start: line2;
  grid-row-end: line3;

  grid-column-start: line3;
  grid-column-end: end;
  justify-self: start;
  align-self: center;
  
}

#chatboard-right > button{
  background: url('./assets/button_r.png');
  background-repeat: no-repeat;
  height: 65px;
  width: 60px;
  margin: 0;
  padding: 0;

}

#chatboard-right > button:hover{
  background: url('./assets/button_hover_r.png');
  background-repeat: no-repeat;
}

#chatboard-right > button:disabled{
  background: url('./assets/button_disabled_r.png');
  background-repeat: no-repeat;
}

#chatboard-bubble{
  
  max-width: 90%

}


#app-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  z-index: -20;
  display: grid;
  grid-template-columns: [c1] 21% [c2] auto [c3] 21% [c4];

}

#app-bg-left{
  grid-column: c1;
  grid-row-start: 1;
  grid-row-end: -1;
  width: 100%;
  background-color: black;

  background-image: url("./assets/pizza_bg.png");
  background-repeat: space;


}

#app-bg-right{
  grid-column: c3;
  grid-row-start: 1;
  grid-row-end: -1;
  width: 100%;
  background-color: black;

  background-image: url("./assets/pizza_bg.png");
  background-repeat: space;

}

#gamepage-left > button{
  display: inline;
}